<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bbuddy</title>
</head>
<body>

<form th:action="@{/accounts/create}" method="post">
    <div><label>Account Name: <input type="text" name="accountName" id ="accountName"/> </label></div>
    <div><label>Balance: <input type="text" name="balance" id="balance"/> </label></div>

    <div><input type="submit" value="create"/></div>


</form>
</body>
</html>