<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Bbuddy</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>date</th>
        <th>remark</th>
        <th>amount</th>
        <th>amount_type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="as : ${accountStatusMap.list}">
        <td th:text="${{as.id}}">0</td>
        <td th:text="${{as.date}}">2016-07-25</td>
        <td th:text="${{as.remark}}">remark</td>
        <td th:text="${{as.amount}}">0</td>
        <td th:text="${{as.amount_type}}">收入</td>
    </tr>
    <tr>
        <td th:text="'Total Income:' + ${accountStatusMap.income}">0</td>
    </tr>
    <tr>
        <td th:text="'Total Outcome:' + ${accountStatusMap.outcome}">0</td>
    </tr>
    </tbody>
</table>

</body>
</html>